body{
    text-align: center;
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    background-color: rgba(6, 114, 247, 0.688);
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 30vh;
}
.box-form{
    display:flex;
    justify-content: center;
}
input{
    width: 6vw;
    height: 5vh;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.iPass{
    width: 15vw;
    height: 5vh;
    color:rgba(6, 114, 247, 0.688);
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 4vh;
    border: 0;
    border-radius: .5em;
}
.prev-next{
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 8vh;
}
